.scrollDown {
    border-radius: 100%;
    position: relative;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    transition: white 0.15s ease, opacity 0.15s ease, transform 0.2s ease, color 0.2s ease;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(54 54 54 / 15%);
    font-size: 20px;
    padding: 0;
    /* background-color: green; */
}

@keyframes buttonFromTopToBottom {
    25% {
        transform: translate(0px, 50px);
    }

    50% {
        transform: translate(-50px, 0px);
    }

    75% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.scrollDown i {
    padding: 12px 16px !important;

}

.scrollDown:hover {
    transform: scale(1.1);

}

.scrollDown i:hover {
    animation: buttonFromTopToBottom 0.5s ease forwards;
}


/* 
**********************************************
```````````````Home Products Start````````````
********************************************** */

.home>#home__container>.desktop_Products>.d-flex>.twoProduct {
    width: 49%;
}
.home>#home__container>.peopleLoved {
    width: 100%;
    height: 23.958333333333336vw;
    overflow: hidden;
}
.home>#home__container>.peopleLoved {
    width: 100%;
    height: 23.958333333333336vw;
    overflow: hidden;
}
.home>#home__container>.peopleLoved>img {
    width: 100%;
    object-fit: cover;
}
.home>#home__container>.overlayBgProduct {
    max-width: 100%;
    width: 100%;
}
.home>#home__container>.overlayBgProduct>.twoOverlayProduct {
    width: 49%;
}
.home>#home__container>.MbSwiper {
    display: none;
}
.home>#home__container>.overlayBgProductTitle {
    font-size: 22px;
    text-align: center;
}
.home>#home__container>.MBFeatureReviewSlider {
    display: none;
}
.home>#home__container>.SliderUnboxing {
    height: 100%;
    padding: 0 20px;
}


/* 
**********************************************
```````````````Media Query Start``````````````
********************************************** */

@media (max-width:768px) {
    .home>#home__container>.overlayBgProduct>.twoOverlayProduct {
        min-width: 100%;
    }
    .home>#home__container>.MbSwiper {
        display: block;
        margin: 20px 0;
    }
    .home>#home__container>.desktop_Products {
        display: none;
    }
    .home>#home__container>.overlayBgProductTitle {
        display: block;
    }
    .home>#home__container>.overlayBgProduct {
        margin: 0 !important;
    }
}

@media (max-width:1024px) {
    .home>#home__container>.MBFeatureReviewSlider {
        display: block;
    }
    .home>#home__container>.FeatureReviewSlider {
        display: none;
    }
}
